<div class="wrapper">
    <div class="intWrapper">
        <div class="profile-wrapper">

            <h2>Profile</h2>

            <img class="prof" src={{this.photo}} alt="">

            <div class="profileEdit">
                <h2>{{this.username}}</h2>
                <a href="/profile/edit/{{this.id}}"><img class="pen" src="../images/pencil.svg">Edit</a>
            </div>

            <p class="mail">{{this.email}}</p>
            <p id="test"class="date">{{this.birthDate}}</p>
            <p class="school">{{this.school.0.name}}</p>
            <p class="course">{{this.courses}}</p>

            <a class="out" href="/auth/logout">Log Out!</a>

            <div>
                <div class="garbage">
                    <a href="/edit/delete/{{this.id}}"><img class="bs" src="../images/bs.svg">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>